/* NORMALIZE */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* COLOURS */
:root {
    --yellow: #f0af12;
    --light-brown: #F4EAD5;
}

/* TAG SELECTORS */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #f3f4f5;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--yellow);
}

/* ClASS SELECTORS */
.wrapper {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background-color: #FFFBE9;
}

.container {
    padding: 20px;
}

/* HEADER */
.header {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
}

.header-container {
    max-width: 1440px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    background-color: var(--light-brown);
}


/* NAVIGATION */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    padding: 20px;
    line-height: 50px;
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    transition: 0.3s;
    color: var(--yellow);
}

/* ABOUT ME */
.about-me {

    margin: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-me__img {
    max-width: 320px;
    border: 15px solid #fff;
    border-radius: 100%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: var(--yellow);
}

/* SKILLS */
.skills {
    margin: 150px 0;
}

.skills__list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    padding: 0;
}

.subtitle {
    padding-top: 80px;
    text-align: center;
    color: var(--yellow);
}

.example__code {
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
}

/* EXPERIENCE */
.experience__item {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 20px 0;

    background-color: #CCD6A6;
    border-radius: 25px;
}

.experience__title {
    margin: 5px 0;
}

.experience__responsibilites {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 10px 0; */
}

/* EDUCATION */
.education__item {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px 0;

    background-color: #CCD6A6;
    border-radius: 25px;
}

/* LANGUAGES */
.languages__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.languages__item {
    text-align: center;
}

/* CONTACTS */
.contacts__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacts__item {
    text-align: center;
}

.contacts__anchor {
    font-weight: bold;
}

/* FOOTER */
.footer {
    height: 50px;
    background-color: var(--light-brown);
}

.footer-container {
    max-width: 1440px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.logo {
    height: 30px;
}