/* NORMALIZE */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* COLOURS */
:root {
    --yellow: #f0af12;
}

/* TAG SELECTORS */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #f3f4f5;
}

ul {
    list-style: none;
}

/* ClASS SELECTORS */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    padding: 20px;
}

/* HEADER */
.header {
    position: fixed;

    width: 100%;

    background-color: var(--yellow);
}

.header-container {
    max-width: 1440px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/* NAVIGATION */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    padding: 20px;
    line-height: 50px;
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    transition: 0.3s;
    color: red;
}

/* ABOUT ME */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-me__img {
    max-width: 320px;
    border: 10px solid #fff;
    border-radius: 100%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: var(--yellow);
}

/* SKILLS */

.subtitle {
    color: var(--yellow);
}

/* FOOTER */
.footer {
    height: 50px;
    background-color: var(--yellow);
}

/* .footer-container {
    max-width: 1440px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
} */

.logo {
    width: 30px;
}